[submodule "chisel-axi-utils"]
	path = chisel-axi-utils
	url = git@github.com:hwspec/chisel-axi-utils.git
[submodule "berkeley-hardfloat"]
	path = berkeley-hardfloat
	url = https://github.com/ucb-bar/berkeley-hardfloat.git
[submodule "rial"]
	path = rial
	url = https://github.com/hwspec/rial-tmpfix
